# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# local environment
.env
.env*.local

# generated native folders
ios/
android/

# build and tool output
*.tsbuildinfo
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
